{% extends '../../layout/layout.html' %}
{% block title %}
{% parent %}
{% endblock %}

{% block head %}
{% parent %}
<link href="css/review.css" rel="stylesheet">
{% endblock %}


{% block page-main %}
<!-- content -->
<div class="main-content">
    <section class="c-s-item review">
        <div class="review-title">
            <div class="fld">
                <span class="d1">中医思维第1期现场</span>
                <span class="d2">主讲：李芳</span>
            </div>
            <div class="frd">
                <span class="d3"><i class="fa fa-users"></i>36人报名</span>
                <span class="d3"><i class="fa fa-clock-o"></i>2015/11/14 19:30-21:30</span>
                <span class="d3"><i class="fa fa-map-marker m-fix-fa"></i>深圳·南山科苑咖啡</span>
            </div>
        </div>
        <!-- 模板1 -->
        <div class="review-body model-one">
            <ul class="model-items">
                <li><img src="images/review/1.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/2.pic.jpg" alt="图片"></li>
                <li><img src="images/review/3.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/5.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/7.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/8.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/9.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/10.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/10.pic_hd.jpg" alt="图片"></li>
            </ul>
        </div>

    </section>

    <section class="c-s-item review">
        <div class="review-title">
            <div class="fld">
                <span class="d1">中医思维第2期现场</span>
                <span class="d2">主讲：黄海涛</span>
            </div>
            <div class="frd">
                <span class="d3"><i class="fa fa-users"></i>22人报名</span>
                <span class="d3"><i class="fa fa-clock-o"></i>2015/11/28 19:30-21:30</span>
                <span class="d3"><i class="fa fa-map-marker m-fix-fa"></i>深圳·南山科苑咖啡</span>
            </div>
        </div>
        <!-- 模板2 -->
        <div class="review-body model-two">
            <div class="fl">
                <img src="images/review/18.pic_hd.jpg" alt="图片">
            </div>
            <div class="fr">
                <ul class="model-items">
                    <li><img src="images/review/1.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/2.pic.jpg" alt="图片"></li>
                    <li><img src="images/review/3.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/5.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/7.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/8.pic_hd.jpg" alt="图片"></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="c-s-item review">
        <div class="review-title">
            <div class="fld">
                <span class="d1">中医思维第3期现场</span>
                <span class="d2">主讲：谭顼</span>
            </div>
            <div class="frd">
                <span class="d3"><i class="fa fa-users"></i>40人报名</span>
                <span class="d3"><i class="fa fa-clock-o"></i>2015/12/05 19:30-21:30</span>
                <span class="d3"><i class="fa fa-map-marker m-fix-fa"></i>深圳·南山科苑咖啡</span>
            </div>
        </div>
        <!-- 模板1 -->
        <div class="review-body model-one">
            <ul class="model-items">
                <li><img src="images/review/1.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/2.pic.jpg" alt="图片"></li>
                <li><img src="images/review/3.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/5.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/7.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/8.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/9.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/10.pic_hd.jpg" alt="图片"></li>
                <li><img src="images/review/10.pic_hd.jpg" alt="图片"></li>
            </ul>
        </div>

    </section>

    <section class="c-s-item review">
        <div class="review-title">
            <div class="fld">
                <span class="d1">中医思维第3期现场</span>
                <span class="d2">主讲：李芳</span>
            </div>
            <div class="frd">
                <span class="d3"><i class="fa fa-users"></i>36人报名</span>
                <span class="d3"><i class="fa fa-clock-o"></i>2015/11/23 19:30-21:30</span>
                <span class="d3"><i class="fa fa-map-marker m-fix-fa"></i>深圳·南山科苑咖啡</span>
            </div>
        </div>
        <!-- 模板2 -->
        <div class="review-body model-two">
            <div class="fl">
                <img src="images/review/18.pic_hd.jpg" alt="图片">
            </div>
            <div class="fr">
                <ul class="model-items">
                    <li><img src="images/review/1.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/2.pic.jpg" alt="图片"></li>
                    <li><img src="images/review/3.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/5.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/7.pic_hd.jpg" alt="图片"></li>
                    <li><img src="images/review/8.pic_hd.jpg" alt="图片"></li>
                </ul>
            </div>
        </div>
    </section>


</div>
{% endblock %}



{% block footer-js %}
{% parent %}
<script type="text/javascript">
    jQuery(function ($) {

    });
</script>
{% endblock %}

