/** base css and func **/
@charset "utf-8";
@import "compass";
@import "compass/layout";
@import "compass/css3/transition";
@import 'susy';
@import "var";
@mixin gd-tran($time:.3s){
  transition: $time;
  -webkit-transition: $time;
}
/*居中*/
@mixin center-block {
  margin-left:auto;
  margin-right:auto;
}

/** 按钮 **/
@mixin btn(){
  .btn{
    background: $main-theme-color;
    font-size: 20px;
    color: $main-color-write;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 126px;
    display: block;
    &:hover{
      background: $main-theme-color-c;
      @include gd-tran;
    }
  }
}